.mediacontainer {
    column-count: 1;
    width: 98vw;
    color: white;
}

.ytvideo {
    margin: auto;
    margin-top: 20px;
    width: 75vw;
    height: 43vw;
}

.photo {
    width: 90%;
    margin: 5%;
}


@media screen and (min-width: 600px) {
    #video {
        width: 70vw;
        height: 39vw;
    }

    .mediacontainer {
        column-count: 2;
    }
}

@media screen and (min-width: 1024px) {
    #video {
        width: 50vw;
        height: 28vw;
    }

    .mediacontainer {
        column-count: 3;
    }
    
}

@media screen and (min-width: 1366px) {
    #video {
        width: 40vw;
        height: 22.5vw;
    }

    .mediacontainer {
        column-count: 4;
    }
}